<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./parts/head.ejs %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
  <% include ./parts/header.ejs %>
 <!--<ul id="hell0" class="list-unstyled"></ul>-->

  <main>
    <h1>Home Page</h1>>
  </main>
 

    
    
  <% include ./parts/footer.ejs %>

  <script src="/js/scriptForChat.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src="/js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
</body>
</html>
